:root {
    --text-color: #D7DCEB;
    --main-blue: #404757;
    --accent-blue: #282b33;
    --main-grey: #343434;
    --accent-grey: #9A9A9A;
    /* TODO: find more suitable colors */
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* TODO: find better font */
    background-color: var(--main-blue);
    background: radial-gradient(circle, var(--main-blue) 0%, var(--accent-blue) 100%);
}
/* HEADER */

header {
justify-content: space-between;
align-items: center;
background-color: var(--main-grey);
position: fixed;
width: 100vw;
}
nav {
gap: 7px;
margin: 7px 25px;
}

#top-txt {
margin: 0;
margin: 7px 15px;
}

.top-links {
text-decoration: none;
color: var(--text-color);
}
.top-links:hover {

}
.top-links:active {

}

/* HEADER */

/*HERO SECTION*/
#hero-sect {
justify-content: center;
align-items: center;
gap: 35px;

}
#titles {

}
#pic-self {
 border-radius: 200px; 
 width: 200px;
 height: 200px;  
}
/*HERO SECTION*/

/* COMMON CLASSES */

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.section-size {
    height: 100vh;
}