:root {
    --text-color: #EDEEF1;
    --sub-text-color: #AEB3C2;
    --Main-Color: #1A202C;
    --Main-Accent: #2D3748;
    --Sub-Color: #4A5568;
    --Sub-Accent: #718096;
    --Blue-Highlight: #3B82F6;
    --Orange-Highlight: #F59E0B;
}



@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf);
}



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Satoshi, Arial, Helvetica, sans-serif;
    background-color: var(--Main-Color);
    background: radial-gradient(circle, var(--Main-Color) 0%, var(--Main-Accent) 100%);
}

h1, h2, h3, h4 {
    font-weight: 400;
}
p {
    font-weight: 600;
}

/* HEADER */
header {
    justify-content: space-between;
    align-items: center;
    background-color: var(--Sub-Color);
    position: fixed;
    width: 100vw;
}

nav {
    gap: 7px;
    margin: 7px 25px;
}

#top-txt {
    margin: 7px 15px;
}

.top-links {
    text-decoration: none;
    color: var(--text-color);
}

.top-links:hover {
    color: var(--Blue-Highlight);
}

.top-links:active {
    color: var(--Orange-Highlight);
}
/* HEADER */

/*HERO SECTION*/
#hero-sect {
    justify-content: center;
    align-items: center;
    gap: 35px;
}

#titles {
    font-size: 29px;
}

#txt-under-title {
    color: var(--sub-text-color);
}

#pic-self {
    border-radius: 200px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid var(--Blue-Highlight);
}
/*HERO SECTION*/

/* SKILLS SECTION */
#skills-sect {
    background: repeating-linear-gradient(var(--Blue-Highlight) 0%,var(--Blue-Highlight) 50%,#00000000 50%,#00000000 100%);
    justify-content: space-between;
}
#skill-card {
    width: 80%;
    height: 70%;
    background-color: var(--Sub-Color);
    align-self: center;
    justify-self: flex-end;
    justify-content: space-evenly;
}
.card-sects {
border-right: 2px solid var(--Sub-Accent)  ;
}
.card-sects:last-child {
    border-right: none;
}
/* SKILLS SECTION */

/* COMMON CLASSES */
.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.section-size {
    height: 100vh;
}
.highlighted-text {
    color: var(--Blue-Highlight);
}
/* COMMON CLASSES */